.intro li {
    margin-bottom :10px;
}

.chapter-content li {
    margin-bottom:10px;
    font-size: 1.25rem;
}

.chapter2 img {
    width:25%;
    opacity: .8;
}

#facts-tips ol li {
    margin-bottom:10px;
    font-size: 1.25rem;
}